extend ./layout.jade
block contenido
    div(class="col-md-3 center-block no-float top-space text-left")
        h1 Editar Producto
        form(method="POST" action="/editar/#{product.id}?_method=put" style="margin-top:1.5em;")
            div(class="form-group")
                label ID del producto: 
                p=product.id
                div(class="form-group")
                label Nombre del producto: 
                input(type="text" name="nombre" value="#{product.nombre}" placeholder="Nombre del producto" class="form-control")
                div(class="form-group")
                label Cantidad a ingresar: 
                input(type="Number" name="cantidad" value="#{product.cantidad}"  placeholder="Cantidad" class="form-control")
                div(class="form-group")
                label Precio del producto: 
                input(type="Number" name="precio" value="#{product.precio}"  placeholder="Precio del producto" class="form-control")
                div(class="form-group")
                label Descipción del producto: 
                p= product.descripcion
                div(class="form-group text-right")
                input(type="submit" class="btn btn-info" value="Guardar Cambios")