doctype html
html
  head
    title Inventario
    meta(charset='utf-8')
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css', rel='stylesheet')
    link(href='css/main.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Pacifico', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400', rel='stylesheet', type='text/css')
    link(href='css/animate.css', rel='stylesheet', type='text/css')
  body
    
nav.large-padding.fondo-gris
  ul.no-list.mediano
    li.pacifico.col-md-3.inline-block
      a.green(href='/admin') Administracion
    li.col-md-3.inline-block
      a(href='/agregar') Agregar elemento
    li.col-md.-3.inline-block
      a(href='/consulta') Mostrar Inventario
    div(class="col-md-3 center-block no-float top-space text-left")
        h1 Eliminar Producto #[span= product.nombre]
        form(method="POST" action="/eliminar/#{product.id}?_method=delete" style="margin-top:1.5em;")
            div(class="form-group")
                label ID del producto: 
                p=product.id
                div(class="form-group")
                label Nombre del producto: 
                p= product.nombre
                div(class="form-group")
                label Cantidad actual: 
                p= product.cantidad
                div(class="form-group")
                label Precio del producto: 
                p=product.precio
                div(class="form-group")
                label Descipción del producto: 
                p= product.descripcion
                div(class="form-group text-right")
                label Para confirmar la Eliminacion ingrese contraseña: 
                input(type="password" name="password" placeholder="Introdusca Contraseña" class="form-control")
            div(class="form-group text-right")
                input(type="submit" class="btn btn-info" value="Aceptar")
